<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>


<div class="app">

  <div v-if="books.length">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>名称</th>
        <th>价格</th>
        <th>数量</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item, index) in books">
        <th>{{item.id}}</th>
        <th>{{item.name}}</th>
        <th>{{item.price | showPrice}}</th>
        <!--        保留两位小数-->
        <th>
          <button @click="sub(index)" v-bind:disabled="item.num <= 1">-</button>
          {{item.num}}
          <button @click="add(index)">+</button>
        </th>
        <th>
          <button @click="btndel(index)">移除</button>
        </th>
      </tr>
      </tbody>
    </table>
    <h2>总价格：{{computPrice | showPrice}}</h2>
  </div>
  <div v-else>
    <h2>购物车为空</h2>
  </div>
</div>


<script src="../../../js/vue.js"></script>
<script src="main.js"></script>
</body>
</html>