<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<div class="app">
  {{message}}
  <br>
  <h3>{{firstName}} {{lastName}}</h3>
  <h3>{{firstName + ' ' + lastName}}</h3>
  <h3>{{getFullName()}}</h3>
  <h3>{{fullName}}</h3>

  <h2>计算书本的总价格</h2>
  <h3>总价格： {{totalPrice}}</h3>

</div>

<script src="../../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '.app',
    data: {
      message: 0,
      firstName: 'lonus',
      lastName: 'lan',
      //idea复制本行到下一行:ctrl + D
      books: [
        {id:1, name: 'shuben1', price: 110},
        {id:2, name: 'shuben2', price: 12},
        {id:3, name: 'shuben3', price: 130},
        {id:4, name: 'shuben4', price: 140},
      ]
    },
    computed: {
      //计算属性：命名时注意调用的时候其实是直接调用fullName，没有加方括号
      //计算属性中的值在调用后会有缓存，而method方法调用几次就计算几次
      fullName: function () {
        return this.firstName + ' ' + this.lastName
      },
      totalPrice: function () {
        let result = 0
        for(let i = 0; i < this.books.length; i++){
          result += this.books[i].price
        }
        // 下面的方法常用
        // for (let book of this.books){
        //   result += book.price
        // }

        // for (let i in this.books){
        //   result += this.books[i].price
        // }
        return result
      }
    },
    methods:{
      getFullName: function () {
        return this.firstName + ' ' + this.lastName
      }
    }
  })
</script>
</body>
</html>